/**
 * Bebuntu v1
 * March, 2009
 * Stas SUSHKOV (stas@ubuntu.ro)
 */

body {
    font-family: "Georgia", serif;
}

p {
    padding: 3px 0;
}

#content {
    width: 700px;
    margin: 0 auto;
    padding: 5px;
}

#menu {
    margin: 5px 0;
}

#menu li {
    display: inline;
    padding: 3px 5px 3px 0;
}

.message {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    margin: 5px 0;
    color: #cc0000;
}

label {
    display: block;
    padding: 3px 0;
}

input, textarea {
    padding: 3px 1px;
}

.clearall {
    clear: both;
    display: block;
    width: 100%;
}

.admin span, .questions span, .teams span, .countries span {
    display: block;
}

.teams span {
    font-size: 80%;
}

.team .name {
    text-transform: uppercase;
    font-size: 100%;
}

.help {
    text-align: right;
    padding: 5px 0;
    font-style: italic;
}

.delete, .delete a {
    float: right;
    background: #cc0000;
    color: #fff;
    font-size: 10px;
    padding: 3px;
}